.modalBackground2 {
  width: 100%;
  height: 100%;
  margin-top: -180px;
  margin-left: -40px;
  background-color: rgba(200, 200, 200, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center; /* FIX LATER */
}

.modalContainer2 {
  width: 80px;
  height: 130px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  display: inline-block;
  text-align: center;
}

.titleCloseBtn2 {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn2 button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.modalContainer2 button {
  border: none;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}