.userpage-container {
  padding-top: 80px;
  padding-left: 280px;
  padding-right: 30px;
  background-color: rgb(236, 236, 236);
  height: 3000px;
}

.videos-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  padding-top: 5px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* SIDEBAR */
.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.sidebar-link img {
  height: 24px;
  width: 24px;
  margin-bottom: 5px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;
}