.modalBackground {
  position: fixed;
  display: flex;
  align-items: center;
}

.modalContainer {
  margin-top: 176px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, .35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.title-container {
  display: flex;
}

.closeBtn {
  display: flex;
  justify-content: flex-end;
}

.closeBtn button{
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.body {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  border: none;
  color: black;
  background: transparent;
  border-radius: 8px;
  cursor: pointer;
}