.item-container {
  display: flex;
  justify-content: space-between;
}

.saveto-options-container {
  margin-left: 10px;
}

.saveto-input {
  border: none;
  background: transparent;
  font-size: 16px;
  margin: 0 0 0 0;
  padding: 0;
  outline: none;
  border-bottom: 1px solid black;
  max-width: 200px;
}

.saveto-edit-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.saveto-edit-btn:hover {
  text-decoration: underline;
}

.saveto-delete-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.saveto-delete-btn:hover {
  text-decoration: underline;
}

img {
  width: 15px;
}