body.active-modal {
  overflow-y: hidden;
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49, 49, 49, 0.8);
  z-index: 200;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.5;
  background: #f1f1f1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px 10px;
  border-radius: 12px;
  min-width: 100px;
}

.playlist {
  margin-top: 20px;
}

.bottom-container {
  padding-top: 30px;
}

.create-title {
  display: flex;
  justify-content: space-around;
  margin-right: 110px;
  bottom: 53px;
  left: 43px;
  font-size: 13px;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playlist-input {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid black;
}

.save-btn {
  border: none;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}

.close-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.close-btn:hover {
  text-decoration: underline;
}

.submit-btn {
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  text-decoration: underline;
}
