.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
  height: 202px;
}

.api-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture {
  padding-right: 10px;
}

.profile-picture {
  width: 36px;
  border-radius: 50%;
}

.api-video-info {
  margin-left: -2px;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
  color: black;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}