.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 224px;
  height: calc(100hv - 60px);
  padding-right: 10px;
  background-color: white;
  width: 224px;
  z-index: 100;
  padding-top: 5px;
}

.links {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #1e1e1e;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  font-family: Roboto, Arial;
  width: 155px;
  margin-left: 10px;
}

.links:hover,
.links.active {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
  border-radius: 10px;
}

.links img {
  height: 20px;
  width: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}



.seperator-top {
  border: none;
  border-bottom: 1px solid rgb(235, 235, 235);
  margin-top: -5px;
}

.seperator {
  border: none;
  border-bottom: 1px solid rgb(235, 235, 235);
  margin: 10px;
}